
/*generel*/
body{
  margin:0;
  padding:0;
  font-family:'PT Sans';
  background:#666;
  color:#ccc;
}

/*bootstrap overrides*/
.container{
  text-align: center;
}

.record{
  position: relative;
  text-align: left;
  cursor:pointer;
  margin: 10px 0;
}

.record .thumbnail{
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

.record img{
  height:100px;
}

.record .duration{
  padding:0 4px;
  position:absolute;
  bottom:0px;
  right:2px;
  background-color:#666;

  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.record:hover{
  background-color:#888;
}

.record h4{
  color: #fff;
}

input.search{
  width:400px;
}

.player{
  padding:10px;
  background-color: transparent;
}

.player.active{
  background-color:#888;
}
